/*Intro Developer: Christopher Kade*/
body {
    margin: 0;
    position: relative;
    height: 100%;
    background-color: black;
    color: aliceblue;
 }
 
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }

  
.intro {

  margin: 30px;
  padding: 30px;

  top: 45%;
  left: 50%;
  z-index: 1;
  animation: intro 5s ease-out 1s;
  color: rgb(75, 213, 238);
  font-weight: 400;

  font-size: 400%;
  line-height: 25px;
  opacity: 0;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  position: justify;
}





@keyframes intro {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.logo {   
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: justify;
  top: 20%;
  left: 50%;
  z-index: 1;
  margin: auto;
  animation: logo 9s ease-out 9s;
  opacity: 0;
  height: 500px;
  width: 750px;
}

.logo svg {
  width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
  0% {
      width: 18em;        
      transform: scale(2.75);
      opacity: 1;
  }
  50% {
      opacity: 1;
      width: 18em;      
  }
  100% {
      opacity: 0;
      transform: scale(0.1);
      width: 18em;        
  }
}

p {
  color: #FFFF82;
}


#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;
  text-align: justify;*/
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 25em;
  bottom: 0;
  left: 50%;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 100s linear 8s;
  position: absolute;
  justify-content: center;
  top: 100%;
}

#title, #subtitle {
  display: flex;
  text-align: center;

  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;


}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}


/*Custom CSS*/
#div-card {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid;
    color: yellow;
}



#search {
  border: solid;
  color: yellow; 
  margin: 10px;
  height: 50px;
  width: 250px;
}

#search-btn {
  background-color: purple;
  color: yellow;
  width: 75px;
  padding: 5px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3%;
  border: solid;
  border-color: yellow;
  background-color: purple;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.devs-bio {
height: 900px;
width: 300px;
}


.devs-bio {
background-color: black;
border:solid;
border-color: #FFFF82;
height: 600px;
width: 900px;
float: right;
position: justify;
}

.parent{
  border: solid 2px yellow;
}
 /* #leftSide{
  border: solid 2px yellow;
} */
#rightSide{
  border: solid 2px yellow;
} 

#display{
  height: 500px;
  width: 500px;

}

